.footer {
  flex-shrink: 0;
  background-color: #e8dbeb;
  width: 100%;
  padding: 50px 0;
display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  text-align: center;
}
#mc_embed_signup {
 display: flex;
  flex-direction: column;
	align-items: center;
  justify-content: center;
}
.indicates-required {
			color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 15px;
	text-align: center;
}
#mc-field-group {
 display: flex;
  justify-content: space-between;
  gap: 10px;
}
.mc-field-group {
	color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
}
.mc-embedded-subscribe {
  background-color: #93faf6;
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #908ff9;
  border-radius: 5px;
  transition: background-color 0.3s;
		margin-top: 10px;
}
.mc-field-group img {
  height: 25px; 
  order: 4;
}

input[type=submit] {
  font-weight: bold; 
}
#buttons-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.footer-link {
  background-color: #93faf6;
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #908ff9;
  border-radius: 5px;
  transition: background-color 0.3s;
		margin-top: 10px;
}

.footer-link:hover {
  background-color: #fc7bd1;
  text-decoration: none;
  color: black;
}

.twitter-follow-button {
    align-items: center;
    background-color: #93faf6;
    color: black;
    font-family: 'Major Mono Display', monospace;
    font-size: 25px;
	 padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #908ff9;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.twitter-follow-button:hover {
      background-color: #fc7bd1;
  text-decoration: none;
  color: black;
}
.twitter-logo {
    display: inline-flex;
    align-items: center;
    background-image: url('2021 Twitter logo - black.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px;
    padding-left: 28px; 
}
#copyright {
	text-align: center;
}
.footer p {
	color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 15px;
}

@media (max-width: 760px) { 
.footer-link, .twitter-follow-button {
	flex-direction: column;
    gap: 10px;
}
}