header {
  background-image: url("websitemain.png");
  background-position: center;
  background-size: cover;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}

h1 {
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 23pt;
  margin: 0;
}

.first-line {
  align-self: left;
  margin-bottom: 60px;
  padding: 30px;
}

.last-lines {
  align-self: right;
  text-align: right;
  margin-top: 0;
}

.last-lines + h1 {
  margin-top: 0;
}
@charset "utf-8";
/* CSS Document */

