header {
  background-image: url("websitemain.png");
  background-position: center;
  background-size: cover;
  height: 1024px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

  	.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.last-lines-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
  text-align: center;
}

h1 {
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 23pt;
  margin: 0;
  padding: 0;
}

.first-line {
  align-self: left;
  margin-bottom: 70px;
	margin-top: auto;
	margin-left: 5px;
	margin-right: auto;
	
}

.first-line a {
  color: black;
  text-decoration: none;
}

.first-line a:hover {
  color: black;
  text-decoration: none;
}

.first-line a:visited {
  color: black;
  text-decoration: none;
}

.flash-button, .last-lines {
  align-self: right;
  text-align: center;
  margin-top: auto;
  display: flex;
	flex-direction: column;
  gap: 10px; /* Add space between buttons */
}

.flash-button, .last-lines a {
  background-color: #93faf6;
  color: #1c1c1c;
  font-family: 'Major Mono Display', monospace;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
	border: 2px solid #908ff9;
  font-size: 25px;
  transition: background-color 0.2s;
}

.flash-button, .last-lines a:hover {
  background-color: #fc7bd1;
}

.flash-button, .last-lines + h1 {
  margin-top: 0;
}

@keyframes flash {
	0% {
		background-color: #eaff03;
		color: #002531;
			border: 2px solid #002531;
	}
	50% {
		background-color: #002531;
		color: #eaff03;
			border: 2px solid #eaff03;
	}
	100% {
		background-colour: #eaff03;
		color: #002531;
			border: 2px solid #002531;
	}
	}

.flash-button.flashing {
	animation: flash 1s linear 10;
  font-family: 'Major Mono Display', monospace;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 25px;
}

.menu-container {
  position: absolute;
top: 52px; 
	 z-index: 1000;
}

.menu-button {
  font-family: 'Major Mono Display', monospace;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin-left: 5px;
  color: black;
}

	.menu-toggle {
  font-size: 20px;
  color: #fff;
  cursor: pointer;

}

.menu {
position: absolute;
  top: 100%;
  left: 0;
  background: transparent;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: none; 
	flex-direction: column;
}

.menu-active {
  display: flex; /* Show the menu when it has the .menu-active class THIS MIGHT ALSO BE DISPLAY: BLOCK; */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
	position: relative;
	white-space: nowrap;
}

.menu li a {
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
	color: black;
  text-decoration: none;
	display: flex;
	white-space: nowrap;
}

.menu li a:hover {
  color: #dffd06;
}

.submenu {
  position: relative;
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
  box-shadow: none;
  z-index: 1000;
  left: 0;
  margin: 10px;
  min-width: 200px;
	white-space: nowrap;
}

.submenu a {
display: flex;
margin: 10px;
  color: #fff;
  text-decoration: none;
	white-space: nowrap;
}

.submenu a:hover {
  color: #dffd06;
}

.submenu-active {
  display: flex;
	flex-direction: column;
	white-space: nowrap;
}


@media (max-width: 760px) {
	  h1 {
    font-size: 20pt;
  }
  .first-line {
    margin-bottom: auto;
     background-color: rgba(255, 255, 255, 0.75); 
	  color: black;
    font-weight: bold;
    font-size: 20pt; /* Make header font size same as h1 on banner */
    text-align: left;
    margin-left: 5px;
    align-self: left;
  }
	
	  .menu-container {
    position: absolute;
    top: 32px; /* Adjusted space between header text and menu */
    left: 5px;
    z-index: 1000;
  }

	 .last-lines {
    display: none;
  }

	 .menu-button {
    font-size: 20pt;
    font-weight: bold;
	    background-color: rgba(255, 255, 255, 0.75); 
  }

	 .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: inline-block;
    z-index: 1001; /* Make sure the menu toggle is on top of the content */
  }

  .menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw; 
    background-color: rgba(198, 150, 228, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    box-sizing: border-box;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
  }

  .menu-active {
    display: flex;
  }

  .menu .last-lines {
    display: block;
  }
	.submenu {
  position: relative;
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
  box-shadow: none;
  z-index: 1000;
  left: 0;
  margin-bottom: 10px;
  min-width: 200px;
	}}